#
# Cypress touchkey configuration
#

config KEYBOARD_CYPRESS_TOUCH
    tristate "CYPRESS Touchkey"
    depends on I2C
    help
      Say Y here if you have the CYPRESS touchkey controller
      chip in your system.

      If unsure, say N.

      To compile this driver as a module, choose M here: the
      module will be called mcs_touchkey.

config TOUCHKEY_BLN_CYPRESS
	bool "BLN Support for Cypress touchkeys."
	depends on KEYBOARD_CYPRESS_TOUCH
	help
	  BLN support.