# override kernel defconfig here

CONFIG_LOCALVERSION="-CM"
CONFIG_KERNEL_LZMA=y
# CONFIG_KERNEL_GZIP is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

# Overclocking
CONFIG_TEGRA_CPU_FREQ_SET_MIN_MAX=y
CONFIG_TEGRA_CPU_FREQ_MAX=1300000
CONFIG_TEGRA_CPU_FREQ_MIN=234000

CONFIG_ARM_THUMBEE=y
CONFIG_KSM=y

# CONFIG_BROADCOM_WIFI is not set
CONFIG_WLAN_VENDOR_BCM=y
# CONFIG_BT_BLUESLEEP is not set
CONFIG_BT_HCIUART_BCSP=y
# CONFIG_BT_HCIBTSDIO is not set

CONFIG_DEBUG_FS=y

# CONFIG_TREE_PREEMPT_RCU is not set
CONFIG_TREE_RCU=y
# CONFIG_RCU_TRACE is not set
CONFIG_LOCKDEP=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PROVE_LOCKING=y

# something wrong with that...
## CONFIG_LOCK_STAT=y
## CONFIG_DEBUG_LOCKDEP=y
## CONFIG_DEBUG_SPINLOCK=y
## CONFIG_DEBUG_MUTEXES=y

CONFIG_PERF_EVENTS=y
CONFIG_PERF_COUNTERS=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_DETECT_SOFTLOCKUP=y
CONFIG_RCU_CPU_STALL_DETECTOR=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y

CONFIG_NVMAP_CARVEOUT_KILLER=y

CONFIG_ANDROID_RAM_CONSOLE_ERROR_CORRECTION=y

# CONFIG_APANIC is not set
CONFIG_APANIC_MMC=y
CONFIG_APANIC_PLABEL="OTA"

# This 'default' cmdline is used to fill missing important keys not set in BoardConfig.mk, BoardConfig vars can overrides this
CONFIG_CMDLINE="mem=511M@0M secmem=1M@511M mem=512M@512M vmalloc=192M fota_boot=false video=tegrafb console=ram usbcore.old_scheme_first=1 emmc_checksum_done=true emmc_checksum_pass=true tegraboot=sdmmc gpt mmcparts=mmcblk0:p1(EFS),p2(APP),p3(CAC),p4(IMS),p5(MSC),p6(UDA),p7(MDM),p8(SOS),p9(LNX),p10(OTA),p11(HID); "
CONFIG_DEPRECATED_PARAM_STRUCT=y
CONFIG_CMDLINE_APPEND=y

# CONFIG_SAMSUNG_LPM_MODE is not set
# CONFIG_USB_ARMLINUX is not set
# CONFIG_USB_NET_CDC_SUBSET is not set
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_EEM=y
CONFIG_USB_NET_CDCNCM=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_USB_ANDROID_RNDIS_WCEIS=y
CONFIG_USB_ANDROID_SAMSUNG_RNDIS_WITH_MS_COMPOSITE=y
CONFIG_USB_ANDROID_ACCESSORY=y
CONFIG_USB_SERIAL_CP210X=y

# Default usb2min/sclk samsung config for n1, now optional
CONFIG_TEGRA_CLOCK_USBMIN=y

CONFIG_INPUT_KEYCHORD=y

# Linux 3 sensors backport
CONFIG_INPUT_YAS_SENSORS=y

CONFIG_SENSORS_CORE=y
# native sensors, without MPU
CONFIG_SENSORS_AK8975=y
CONFIG_SENSORS_KXTF9=y

## MPU to fix...
# CONFIG_MPU_NONE is not set
CONFIG_MPU_SENSORS_MPU3050=y
# CONFIG_MPU_SENSORS_MPU6000 is not set
## CONFIG_MPU_SENSORS_KXTF9=y
CONFIG_MPU_SENSORS_AK8975=y
CONFIG_MPU_SENSORS_TIMERIRQ=y
## CONFIG_MPU_SENSORS_DEBUG=y

CONFIG_SND_VOODOO=y
CONFIG_SND_VOODOO_FM=y
CONFIG_SAMSUNG_FM_SI4709=y

# hdmi mhl, to check later, disabled to free fb2 memory
# CONFIG_MHL_SII9234 is not set
# CONFIG_MHL_SWITCH is not set

# nfc, to check
## CONFIG_PN544=y
