# override stock kernel defconfig here
CONFIG_LOCALVERSION=""

CONFIG_KERNEL_LZMA=y
# CONFIG_KERNEL_GZIP is not set
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

CONFIG_ARM_THUMBEE=y
# CONFIG_BROADCOM_WIFI is not set

CONFIG_SENSORS_KXTF9=y

CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_INPUT_KEYCHORD=y
CONFIG_SAMSUNG_FM_SI4709=m

# CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE is not set
